<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <form method="POST" action="/update/{{user.id}}">
            {% csrf_token %}
            <div class="form-group">
                <label><b>USer Name :</b></label>
                <input type="text" name="username" class="form-control" value="{{user.username}}">
            </div>
            <div class="form-group">
                <label><b>Useremail :</b></label>
                <input type="text" name="uemail" class="form-control" value="{{user.uemail}}">
            </div>
            <div class="form-group">
                <label><b>Userpassword :</b></label>
                <input type="text" name="upassword" class="form-control" value="{{user.upassword}}">
            </div>
            <input type="submit" name="update" value="Update" class="btn btn-success" >


        </form>
    </div>
    
</body>
</html>